<nav class="navbar">
        <div class="navbar-brand">
            <a href="#">
                <img src="assets/img/logo-bookmark.svg" alt="Bookmark Logo" class="logo" />
            </a>
        </div>

        <button class="hamburger-menu" aria-label="Open menu" (click)="toggleMenu()">
            <img src="assets/img/icon-hamburger.svg" alt="Menu icon" class="menu">
        </button>

        <div class="navbar-links">
          <a href="#">Features</a>
          <a href="#">Pricing</a>
          <a href="#">Contact</a>
          <app-button
            [text]="'Login'"
            [href]="'#'"
            [variant]="'login-button'">
          </app-button>

        </div>
        
        <div class="navbar-links-mobile" *ngIf="isMenuOpen">
            <a href="#">Features</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
          <app-button
            [text]="'Login'"
            [href]="'#'"
            [variant]="'login-button'">
          </app-button>
        </div>
</nav>