.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.logo {
  width: auto;
  height: 40px;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.navbar-links a {
  margin-left: 90px;
  text-decoration: none;
  color: #555;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-links a:hover {
  color: #f25f3a;
}

.navbar-links a.login-button {
  background: #f25f3a;
  color: white;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.navbar-links-mobile {
  display: none;
  flex-direction: column;
  background: white;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 0;
  top: 0;
  align-items: center;
  background-color: aliceblue;

}

.navbar-links-mobile a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
}

.navbar-links-mobile a.login-button {
  background: #f25f3a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100px;
}

@media (max-width: 1200px){

  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 50px 20px 60px;
    text-align: center;
  }

  .navbar-links-mobile a.login-button {
     flex-direction: row;
     align-items: center;
  }

      .navbar-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    height: 20px;
  }

    .navbar-links-mobile {
    display: flex;
  }
}

@media (max-width: 900px) {
      .navbar {
    flex-direction: row;
    align-items: center;
    padding: 50px 20px 60px;
    text-align: center;
  }

  .logo {
    width: auto;
    height: 30px;
    justify-content: left;
  }

  .hamburger-menu {
    display: flex;
    height: 20px;
  }


  .navbar-links {
    display: none;
  }

  .navbar-links a {
    margin-left: 0;
  }
}