

<section class="hero">
        <div class="hero-text">
          <h1>A Simple Bookmark Manager</h1>
            <p class="main-text">A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
              <div class="hero-buttons">
                <a href="#!" class="btn chrome">Get it on Chrome</a>
                <a href="#!" class="btn firefox">Get it on Firefox</a>
              </div>
        </div>

        <div class="hero-image">
            <img src="assets/img/rectangulo-aliceblue.png" alt="Decoration" class="hero-shape"/>
            <img src="assets/img/illustration-hero.svg" alt="Illustration" class="hero-illustration"/>       
        </div>
</section>
