

.features {
  max-width: 1200px;
  margin: 40px auto;
  padding: 60px 60px;
}

.features-header {
  display: flex;
  align-items: center;
  flex-direction: column;            
  text-align: center;
  padding: 0% 30% 40px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1000px;
  margin: 0 auto 80px;
  border-bottom: 1px solid #eee;
  text-align: center;
  gap: 100px;
}

.tab {
  background: none;
  border: none;
  font-size: 28px;
  gap: 80px;
  color: #777;
  font-weight: normal;
  cursor: pointer;
  padding: 20px 0;
  position: relative;
  white-space: nowrap;
}

.tab:hover {
  color: #2c2c2c;
  font-weight: bold;
}

.tab:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: 4px;
  background-color: #f25f3a;
  border-radius: 2px;
}


.features-image{
  position: relative;
  flex: 1;
}

.features-shape {
  position: absolute;
  top: 10%;
  right: 100px;
  height: auto;
  width: 900px;
  z-index: 0;
  border-bottom-right-radius: 30%;
  clip-path: inset(0% 0% 0% 0%);
}

.features-illustration{
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


.features-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.features-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  padding: 10px;
}

@media (max-width: 1200px) {



  .tabs {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: none;
  }
  .tab {
    flex: none;
    font-size: 22px;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
}

@media (max-width: 900px) {
.features-header {
    padding: 0 20px;
  }

  .tabs {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    border-bottom: none;
    padding-bottom: 10%;
  }

  .tab {
    flex: none;
    font-size: 22px;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #eee;
  }


 
}