
body {
  font-family: "Rubik";
  background: white;
  color: #333;
  overflow-x: hidden;
}

.main-text {
  margin-top: 1%;
  font-size: 20px;
  color: #9e9e9e;
  line-height: 1.5;
  padding-bottom: 50px;
}

.main-text-titles {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 20px;
}


@media (max-width: 900px) {

  .main-text {
    margin-top: 1%;
    font-size: 16px;
    color: #9e9e9e;
    line-height: 1.5;
    padding-bottom: 20px;
  }

  .main-text-titles {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
  }
      
}


